.header {
  height: 100px;
  display: flex;
  align-items: center;
  background-color: #212020;
  position: sticky;
  top: 0;
  z-index: 100;
  justify-content: space-between;
  margin-bottom: 24px;
}

.header__logo {
  width: 280px;
  margin: 0 50px;
  margin-top: -15px;
}
.header__search {
  display: flex;
  align-items: flex-end;
}
.header__searchIcon {
  width: 20px;
  margin: 0 10px;
  margin-top: 50px;
}
.header__login {
  background: #333333;
  border: 1px solid #333333;
  border-radius: 8px;
  color: wheat;
  > img {
    width: 16px;
  }
}

.header__basket {
  background: #333333;
  border: 1px solid #333333;
  border-radius: 8px;
  color: wheat;
  > img {
    width: 16px;
  }
}
