.header {
  height: 100px;
  display: flex;
  align-items: center;
  background-color: #212020;
  position: sticky;
  top: 0;
  z-index: 100;
  justify-content: space-between;
  margin-bottom: 24px;
}

.header__logo {
  width: 280px;
  margin: 0 50px;
  margin-top: -15px;
}
.header__search {
  display: flex;
  align-items: flex-end;
}
.header__searchIcon {
  width: 20px;
  margin: 0 10px;
  margin-top: 50px;
}
.header__basket {
  width: 20px;
  margin: 0 20px;
}
.header__login {
  width: 20px;
  margin: 0 20px;
}
