.product.images {
  width: 50px;
  margin-right: 16px;
}
.cartProductContainer {
  display: flex;
  align-items: end;
  gap: 50px;
  padding-bottom: 8px;
  border-bottom: 1px solid aquamarine;
  padding-top: 8px;
  width: max-content;
  &:last-child {
    border: 0;
  }
}
.priceActionContainer {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.imgNameContainer {
  display: flex;
  align-items: flex-start;
  font-weight: bold;
}
.totalSum {
  display: flex;
  width: 500px;
  justify-content: space-between;
  h3,
  h5,
  h6 {
    margin: 0;
  }
}
